#error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
}   

#error-page p{
    margin-bottom: 10px;
    color: #fff;
}

#error-page h1{
    margin-bottom: 10px;
    color: #006cbe;
}

#error-page img{
    margin-bottom: 10px;
}